@import '../../styles/global.css';

.custom-button {
  background-color: var(--light-green);
  border-style: none;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  padding: 3%;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 0.5rem;
  font-size: 15px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.custom-button:hover {
  opacity: 0.8;
}