.home-container {
    padding: 2rem;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }
  
  .title {
    position: absolute;
    top: 1.5rem;
    left: 2rem;
    font-size: 1.5rem;
  }
  
  .empty-state {
    margin-top: 10rem;
    text-align: center;
  }
  
  .empty-message {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
  