/* Import fonts (place at the top of your CSS file) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Root styles */
:root {
  --font-primary: 'Raleway', sans-serif;
  --font-secondary: 'Poppins', sans-serif;

  font-family: var(--font-primary);
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
